# macOS
.DS_Store

# LaTeX build artifacts
build/*.aux
build/*.bbl
build/*.bbl-SAVE-ERROR
build/*.bcf
build/*.bcf-SAVE-ERROR
build/*.blg
build/*.fdb_latexmk
build/*.fls
build/*.log
build/*.run.xml
build/*.synctex.gz
build/*.toc
build/chapters/
